@import "tailwindcss";

*{
    font-family: "Staatliches";
}

.linkcontain {
    perspective: 120px;
    perspective-origin: right;
}

.para-text {
    font-family: "Staatliches";
}

body{
    background: #000;
}